<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Link CSS-->
    <link rel="stylesheet" href="/styles/css/global.css" type="text/css">
    <!--Link DevIcon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <title><%= data.title %></title>
</head>
<body>
    <header class="page-header">
        <nav class="menu-wrap">
            <ul class="menu">
                <li class="menu-item">
                    <a href="#about">Sobre</a>
                </li>
                <li class="menu-item">
                    <a href="#skills">Conhecimentos</a>
                </li>
                <li class="menu-item">
                    <a href="#projects">Projetos</a>
                </li>
                <li class="menu-item">
                    <a href="#contact">Contato</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="introduction">
        <section class="info_container">
            <div class="img-container animate">
                <img class="pfp" src="<%= data.hero.photo %>" alt="Foto de Arthur Santos">
            </div>
            <div class="heading-container">
                <h1 class="main-heading">
                    <span class="gradient">
                        <%= data.hero.name %>
                    </span>
                </h1>
                <h2 class="main-subheading gradient animation-typing">
                    <%= data.hero.subject %>
                </h2>
                <div class="btn-container">
                    <a href="./assets/cv/curriculo_ArthurSantos.pdf" download="curriculo_ArthurSantos" class="gradient-btn" id="download-cv">
                        <span lang="en-us">
                            Download
                        </span>
                        <abbr title="Curriculum vitae - Currículo">C/V</abbr>
                    </a>
                    <% data.hero.social.forEach(item => { %>
                        <a href="<%= item.url %>" class="social-link" target="_blank">
                            <i class="<%= item.icon %>"></i>
                        </a>
                   <%});%>
                </div>
            </div>
        </section>
    </main>

    <section class="page-section about" id="about">
        <h3 class="subheading">Sobre</h3>
        <p class="paragraph">
            <%= data.hero.subject %> 
            <%= data.hero.description() %> 
            <abbr title="Fundação Instituto de Educação de Barueri"><%= data.hero.education %></abbr>;
        </p>
    </section>

    <% for (let section of partials) { %>
        <%- include(`../partial/${section}`) %>
    <%}%>

    
    <script type="module" src="/js/script.js"></script>
</body>
</html>