<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Link CSS-->
    <link rel="stylesheet" href="/styles/css/global.css" type="text/css">
    <!--Link DevIcon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <title>Arthur Santos | Portfolio Website</title>
</head>
<body>
    <header class="page-header">
        <nav class="menu-wrap">
            <ul class="menu">
                <li class="menu-item">
                    <a href="#">Sobre</a>
                </li>
                <li class="menu-item">
                    <a href="#">Conhecimentos</a>
                </li>
                <li class="menu-item">
                    <a href="#">Serviços</a>
                </li>
                <li class="menu-item">
                    <a href="#">Contato</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="introduction">
        <section class="info_container">
            <div class="img-container animate">
                <img class="pfp" src="<%= data.hero.photos.sansPhoto %>" alt="Foto de perfil ilustrativa de Arthur Santos">
            </div>
            <div class="heading-container">
                <h1 class="main-heading">
                    <span class="gradient"><%= data.hero.name %></span>
                </h1>
                <h2 class="main-subheading gradient animation-typing"><%= data.hero.profession %></h2>
                <div class="btn-container">
                    <a href="./assets/cv/curriculo_ArthurSantos.pdf" download="curriculo_ArthurSantos" class="botao-contato btn-gradient" id="download-cv">
                        <span lang="en-us">Download</span>
                        <abbr title="Curriculum vitae - Currículo">C/V</abbr>
                    </a>
                    <a href="https://www.linkedin.com/in/arthur-santos-3b61a8267/" target="_blank" class="botao-contato" id="gradient-hover">
                        LinkedIn
                    </a>
                </div>
            </div>
        </section>
    </main>
    <!--
    <% if (data && data.hero && data.hero.skills) { %>
        <% data.hero.skills.forEach(skill => { %>
            <div>
                <p><%= skill.name %></p>
                <i class="<%= skill.icon %>"></i>
                <p><%= skill.percent %></p>
            </div>
        <% }); %>
    <% } %>
    -->
    <script type="module" src="/js/script.js"></script>
</body>
</html>