<% 
    const msgErro = { "nome_cliente": "", "assunto_cliente": "", "msg_cliente": "" }; 
    const invalidClass = { "nome_cliente": "", "assunto_cliente": "", "msg_cliente": "" };

    if(errorList){ 
        errorList.errors.forEach((error)=>{ 
            msgErro[error.path] = error.msg; 
            invalidClass[error.path] = 'invalid'; 
        });
    } 
%>

<section class="page-section contact" id="contact">
    <h4 class="subheading">Contato</h4>

    <p>
        Preencha o formulário abaixo para esclarecer suas
        dúvidas e darmos início ao seu projeto!
    </p>

    <form action="send" method="post" class="page-form">
        <input class="form-input <%= invalidClass.nome_cliente %>" type="text" name="nome_cliente" id="name" placeholder="Nome *" required>
        <span><%= msgErro.nome_cliente %></span>

        <input class="form-input <%= invalidClass.assunto_cliente %>" type="text" name="assunto_cliente" id="assunto" placeholder="Assunto">
        <span><%= msgErro.assunto_cliente %></span>

        <textarea class="form-input <%= invalidClass.msg_cliente %>" name="msg_cliente" id="msg" cols="30" rows="10" placeholder="Mensagem *" required></textarea>
        <span><%= msgErro.msg_cliente %></span>
    
        <button type="submit" class="gradient-btn form-btn">
            Enviar
        </button>
    </form>
</section>